.site-header {
    min-height: 54px;
    height: 54px;
    background-color: $brand-color;
    position: fixed;
    box-sizing: border-box;
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 0px 20px;

    #nav-trigger {
        display: none;
    }

    .site-icon {
        float: left;
        line-height: 54px;
    }

    .trigger {
        float: right;
        line-height: 54px;
    }

}